{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block titulo_ventana %} Nueva Mini Tarea {% endblock %}
{% block titulo %} Nueva Mini tarea  {% endblock %}
{% block subtitulo %} {% endblock %}

{% block content %}
    {% include 'inclusion_tags/messages.html' %}
    <form role="form" method="post">
         {%  csrf_token %}
        <div class="col-md-6">
            <div class="box box-primary" id="inner-content-div">
                <div class="box-header">
                    <h3 class="box-title">Datos de la tarea</h3>
                </div><!-- /.box-header -->

                <!-- form start -->
                <div class="box-body">
                    {{ form|crispy }}
                </div>

                <div class="box-footer">
                    {% block footer_form %}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    {% endblock %}
                </div>
            </div>
        </div>
     </form>
{% endblock %}
