{% extends 'base/base.html' %}
{% block titulo_ventana %} Comentarios {% endblock %}
{% block titulo %} Lista de comentarios {% endblock %}
{% block subtitulo %}
    <br/>
    <a href="{% url 'projectman:build_comment' %}" type="button" class="btn btn-primary">
        Nuevo comentario
    </a>
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="box">
            {% include 'inclusion_tags/messages.html' %}
            <div class="box-header">
                <h3 class="box-title">Tabla de Comentarios </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-striped datatable-active" width="100%">
                    <thead>
                    <tr>
                        <th>Tarea</th>
                        <th>Autor</th>
                        <th>Comentario</th>
                        <th>Palabra Clave</th>
                        <th>Fecha creación</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                         {% for comment in object_list %}
                        <tr>
                            <td>{{ comment.task }}</td>
                            <td>{{ comment.owner.first_name }} {{ comment.owner.last_name }} ({{ comment.owner.username }})</td>
                            <td>{{ comment.comment }}</td>
                            <td>{{ comment.keyword }}</td>
                            <td>{{ comment.date_created }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acción <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'projectman:update_comment' comment.id %}">Editar</a></li>
                                        <li><a role="button" data-toggle="modal" class="btn-eliminar"
                                               id = "{% url 'projectman:delete_comment' comment.id %}"
                                               name="{{ comment.task }}"
                                               data-target="#modal-eliminar">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                 {% else %}
                     <h1>No hay Comentarios</h1>
                {% endif %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->

{# Modal de eliminar #}
    {% include 'inclusion_tags/modal_eliminar.html' %}

{% endblock %}
{% block extrascript %}
    
    <script !src="">
        id = $(".btn-eliminar").attr("id");
        deleteModalForm(id, "el comentario");
    </script>
{% endblock %}


			