{%  load staticfiles %}
<div class="col-xs-12">
        <div class="box">
            {% include 'inclusion_tags/messages.html' %}
            <div class="box-header">
                <h3 class="box-title">Comentarios </h3>
            </div><!-- /.box-header -->
            <div class="box-body" >
                <table class="table table-bordered table-striped datatable-active" width="100%">
                    <thead>
                    <tr>
                        <th>Tarea</th>
                        <th>Autor</th>
                        <th>Comentario</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if comment %}
                         {% for com in comment %}
                        <tr>
                            <td>{{ com.task.name }}</td>
                            <td>{{ com.owner.first_name }} {{ com.owner.last_name }} ({{ com.owner.username }})</td>
                            <td>{{ com.comment }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Acción <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'projectman:update_comment' com.id %}">Editar</a></li>
                                        <li><a role="button" data-toggle="modal" class="btn-eliminar"
                                               id = "{% url 'projectman:delete_comment' com.id %}"
                                               name="{{ com.task.name }}"
                                               data-target="#modal-eliminar">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                 {% else %}
                     <h1>No hay Comentarios</h1>
                {% endif %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->

    {# Modal de eliminar #}
    {% include 'inclusion_tags/modal_eliminar.html' %}

    <script src="{% static 'dist/js/table_selectMultiple.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="jquery-1.11.2.min.js"></script>

    <script src="{% static 'dist/js/myscripts.js' %}" type="text/javascript"></script>
    <script !src="">
        id = $(".btn-eliminar").attr("id");
        deleteModalForm(id, "la tarea");
     </script>