{% extends 'base/base.html' %}
{% load staticfiles %}
{% block titulo_ventana %} Proyectos {% endblock %}
{% block titulo %} Lista de proyectos {% endblock %}
{% block subtitulo %}
    <br/>
    <a href="{% url 'projectman:build_project' %}" type="button" class="btn btn-primary">
        Nuevo proyecto
    </a>
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="box">
            {% include 'inclusion_tags/messages.html' %}
            <div class="box-header">
                <h3 class="box-title">Tabla de proyectos </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-striped datatable-active" width="100%">
                    <thead>
                    <tr>
                        <th>Nombre Proyecto</th>
                        <th>Project Manager</th>
                        <th>Cliente</th>
                        <th>Descipción</th>
                        <th>Metodología</th>
                        <th>Presupuesto</th>
                        <th>Recursos</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Final</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                         {% for pro in object_list %}
                        <tr>
                            <td>{{ pro.title }}</td>
                            <td>{{ pro.project_manager }}</td>
                            <td>{{ pro.client.get.user.first_name }} {{ pro.client.get.user.last_name }}</td>
                            <td>{{ pro.description }}</td>
                            <td>{{ pro.methodology }}</td>
                            <td>{{ pro.budget }}</td>
                            <td>{{ pro.resources }}</td>
                            <td>{{ pro.time_start_real }}</td>
                            <td>{{ pro.time_end_real }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acción <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'projectman:detail_project' pro.id %}">Ver</a></li>
                                        <li><a href="{% url 'projectman:update_project' pro.id %}">Editar</a></li>
                                        <li><a role="button" data-toggle="modal" class="btn-eliminar"
                                               id = "{% url 'projectman:delete_project' pro.id %}"
                                               name="{{ pro.title }}"
                                               data-target="#modal-eliminar">Eliminar</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                 {% else %}
                     <h1>No hay Proyectos</h1>
                 {% endif %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->

{# Modal de eliminar #}
    {% include 'inclusion_tags/modal_eliminar.html' %}

{% endblock %}

