{% extends 'base/base.html' %}
{% load staticfiles %}
{% block titulo_ventana %} Detalle Tarea {% endblock %}
{% block titulo %} Tarea {{ task.name }} {% endblock %}
{% block subtitulo %} <strong>Responsable:</strong> {{ task.responsable }} {% endblock %}

{% block content %}
    <div class="col-md-4" >
        <div class="box box-primary">
            <div class="box-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acción<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'projectman:update_task' task.id %}">Editar</a></li>
                        <li><a href="{% url 'projectman:delete_task' task.id %}">Eliminar</a></li>
                    </ul>
                </div>

                <div class="box box-solid">
                    <div class="box-body">
                        <dl>
                            <dt><h4><strong>Proyecto:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.project }}</dd>

                            <dt><h4><strong>Descripción:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.description }}</dd>

                            <dt><h4><strong>Requerimientos:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.requeriments }}</dd>

                            <dt><h4><strong>Costos:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.costs }}</dd>

                            <dt><h4><strong>Fecha Estimada:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.estimated_target_date }}</dd>

                            <dt><h4><strong>Prioridad:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.priority }}</dd>

                            <dt><h4><strong>Estado:</strong></h4></dt>
                            <dd style="margin-left: 2em">{{ task.state }}</dd>
                          </dl>
                     </div>
            <!-- /.box-body -->
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-8">
        <div class="box box-warning">
            <div class="box-body" >
                <div id="contenido1" class="form-group">

                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!--/.col (left) -->

{% endblock %}

{% block extrascript %}
    <script src="{% static 'dist/js/table_selectMultiple.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="jquery-1.11.2.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
	       		$("#contenido1").load("{% url 'projectman:list_comment_filter' task.id %}");
        });

    </script>
{% endblock %}
