{% extends 'base/base.html' %}
{% block titulo_ventana %} Tareas {% endblock %}
{% block titulo %} Lista de tareas {% endblock %}
{% block subtitulo %}
    <br/>
    <a href="{% url 'projectman:build_task' %}" type="button" class="btn btn-primary">
        Nueva tarea
    </a>
    <a href="{% url 'projectman:create_task_child' %}" type="button" class="btn btn-primary">
        Nueva mini tarea
    </a>
{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <div class="box">
            {% include 'inclusion_tags/messages.html' %}
            <div class="box-header">
                <h3 class="box-title">Tabla de Tareas </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <input id="search" class="form-control mr-sm-2" type="text" placeholder="Buscar Tarea"
                       style="width: 50%">
                <table id="tabla" class="table table-bordered table-striped datatable-active" width="100%">
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div><!-- /.col -->

    {# Modal de eliminar #}
    {% include 'inclusion_tags/modal_eliminar.html' %}

{% endblock %}
{% block extrascript %}
    <script>
        var tasks;
        $(function () {


            function escribir() {
                $("#tabla thead").remove();
                $("#tabla tbody").remove();
                document.getElementById('tabla').innerHTML += "<thead>\n" +
                    "                    <tr>\n" +
                    "                        <th>Nombre Tarea</th>\n" +
                    "                        <th>Nombre Proyecto</th>\n" +
                    "                        <th>Descripcion</th>\n" +
                    "                        <th>Requerimientos</th>\n" +
                    "                        <th>Costos</th>\n" +
                    "                        <th>Tiempo estimado</th>\n" +
                    "                        <th>Responsable</th>\n" +
                    "                        <th>Prioridad</th>\n" +
                    "                        <th>Mini Tareas</th>\n" +
                    "                        <th>Estado</th>\n" +
                    "                        <th></th>\n" +
                    "                    </tr>\n" +
                    "                    </thead>"
                document.getElementById('tabla').innerHTML += "<tbody>"
                $.each(tasks, function (i) {
                    $('#tabla tbody:last').after("<tr>" +
                        "                            <td>" + tasks[i].fields.name + "</td>\n" +
                        "                            <td>" + tasks[i].fields.project + "</td>\n" +
                        "                            <td>" + tasks[i].fields.description + "</td>\n" +
                        "                            <td>" + tasks[i].fields.requeriments + "</td>\n" +
                        "                            <td>" + tasks[i].fields.costs + "</td>\n" +
                        "                            <td>" + tasks[i].fields.estimated_target_date + "</td>\n" +
                        "                            <td>" + tasks[i].fields.responsable + "</td>\n" +
                        "                            <td>" + tasks[i].fields.priority + "</td>\n" +
                        "                            <td>" + tasks[i].fields.childs + " - <a href=" + "/task/" + tasks[i].pk + "/children" + ">Ver</a></td>\n" +
                        "                            <td>" + tasks[i].fields.state + "</td>\n" +
                        "                            <td>\n" +
                        "                                <div class='btn-group'>\n" +
                        "                                    <button type='button' class='btn btn-primary btn-xs dropdown-toggle'\n" +
                        "                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>\n" +
                        "                                        Acción <span class='caret'></span>\n" +
                        "                                    </button>\n" +
                        "                                    <ul class='dropdown-menu'>\n" +
                        "                                        <li><a href='/detail/task/" + tasks[i].pk + "'>Ver</a></li>\n" +
                        "                                        <li><a href='/update/task/" + tasks[i].pk + "'>Editar</a></li>\n" +
                        "                                        <li><a role='/button' data-toggle='modal' class='btn-eliminar'\n" +
                        "                                               id = '/delete/task/" + tasks[i].pk + "'\n" +
                        "                                               name='" + tasks[i].fields.name + "'\n" +
                        "                                               data-target='#modal-eliminar'>Eliminar</a></li>\n" +
                        "                                    </ul>\n" +
                        "                                </div>\n" +
                        "                            </td>\n" +
                        "                        </tr>");
                });
                document.getElementById('tabla').innerHTML += "</tbody>"
            }

            function cargar() {
                $.ajax({
                    url: '/ajax/tasklist/',
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        tasks = data;
                        escribir()
                    },
                    error: function () {
                        //escribir en el dom mensaje de error de conexion
                        document.getElementById('tabla').innerHTML = "<h1>Error in connection</h1>"
                    },
                });
            }

            function buscar(keyword) {
                var keyword = keyword
                $("#tabla thead").remove();
                $("#tabla tbody").remove();
                document.getElementById('tabla').innerHTML += "<thead>\n" +
                    "                    <tr>\n" +
                    "                        <th>Nombre Tarea</th>\n" +
                    "                        <th>Nombre Proyecto</th>\n" +
                    "                        <th>Descripcion</th>\n" +
                    "                        <th>Requerimientos</th>\n" +
                    "                        <th>Costos</th>\n" +
                    "                        <th>Tiempo estimado</th>\n" +
                    "                        <th>Responsable</th>\n" +
                    "                        <th>Prioridad</th>\n" +
                    "                        <th>Estado</th>\n" +
                    "                        <th></th>\n" +
                    "                    </tr>\n" +
                    "                    </thead>"
                document.getElementById('tabla').innerHTML += "<tbody>"
                $.each(tasks, function (i, item) {
                    if (tasks[i].fields.name.indexOf(keyword) >= 0 || tasks[i].fields.description.indexOf(keyword) >= 0) {
                        $('#tabla tr:last').after("<tr>" +
                            "                            <td>" + tasks[i].fields.name + "</td>\n" +
                            "                            <td>" + tasks[i].fields.project + "</td>\n" +
                            "                            <td>" + tasks[i].fields.description + "</td>\n" +
                            "                            <td>" + tasks[i].fields.requeriments + "</td>\n" +
                            "                            <td>" + tasks[i].fields.costs + "</td>\n" +
                            "                            <td>" + tasks[i].fields.estimated_target_date + "</td>\n" +
                            "                            <td>" + tasks[i].fields.responsable + "</td>\n" +
                            "                            <td>" + tasks[i].fields.priority + "</td>\n" +
                            "                            <td>" + tasks[i].fields.childs + " - <a href=" + "/task/" + tasks[i].pk + "/children" + ">Ver</a></td>\n" +
                            "                            <td>" + tasks[i].fields.state + "<td>\n" +
                            "                                <div class='btn-group'>\n" +
                            "                                    <button type='button' class='btn btn-primary btn-xs dropdown-toggle'\n" +
                            "                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>\n" +
                            "                                        Acción <span class='caret'></span>\n" +
                            "                                    </button>\n" +
                            "                                    <ul class='dropdown-menu'>\n" +
                            "                                        <li><a href='/detail/task/" + tasks[i].pk + "'>Ver</a></li>\n" +
                            "                                        <li><a href='/update/task/" + tasks[i].pk + "'>Editar</a></li>\n" +
                            "                                        <li><a role='/button' data-toggle='modal' class='btn-eliminar'\n" +
                            "                                               id = '/delete/task/" + tasks[i].pk + "'\n" +
                            "                                               name='" + tasks[i].fields.name + "'\n" +
                            "                                               data-target='#modal-eliminar'>Eliminar</a></li>\n" +
                            "                                    </ul>\n" +
                            "                                </div>\n" +
                            "                            </td>\n" +
                            "                        </tr>");
                    }
                    document.getElementById('tabla').innerHTML += "</tbody>"
                });
            }

            $('#search').on('input', function () {
                var keyword = $(this).val()
                if (keyword == "") {
                    cargar()
                } else {
                    $.ajax({
                        url: '/ajax/tasklist/',
                        dataType: 'json',
                        type: 'GET',
                        success: function (data) {
                            tasks = data;
                            buscar(keyword);
                        },
                        error: function () {
                            //escribir en el dom mensaje de error de conexion
                            document.getElementById('tabla').innerHTML = "<h1>Error in connection</h1>"
                        },
                    });
                }
            });


            $(document).ready(function () {
                cargar()
            });
        });
    </script>

    <script !src="">
        id = $(".btn-eliminar").attr("id");
        deleteModalForm(id, "la tarea");
    </script>
{% endblock %}

