{% extends 'base/base.html' %}
{% load staticfiles %}
{% block titulo_ventana %} Reporte Costos {% endblock %}
{% block titulo %} Reporte Costos {% endblock %}
{% block subtitulo %} <strong>Project Manager</strong> {% endblock %}
{% block content %}
    <ul>
        COMPARACION COSTOS
    <li >
        Nombre Proyecto:   {{p.title}}
    </li>
    <li>
        Costo Estimado: $ {{ cost_est }}
    </li>


    <li>
        Costo Real: $ {{ cost_real }}
    </li>
     <li>
        Diferencia: $ {{ dif }}
    </li>
    </ul>
{% endblock %}