django-grappelli==2.11.1
django==1.11
Django==1.11
django-crispy-forms==1.7.2
Pillow==5.1.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.4
djangorestframework
Celery
django_extensions
debug_toolbar

