
<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}{% endblock title %} | Projectman</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">

    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type='text/css'>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type='text/css'>
    {% block css %}{% endblock %}
  </head>
  <body>

  <!-- Application header or nav-bar -->

  <div>
  {% if user.is_authenticated %}
  <ul class="nav justify-content-end">
      Bienvenid@ <a class="nav-link" href="#">{{ user }}</a>
    </li>
    <li class="nav-item">
       <a class="nav-link disabled" href="#">Actualizar contraseña</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="{% url 'logout' %}">Cerrar sesión</a>
    </li>
  </ul>
      {% if user.is_project_manager %}
          Usted es un project manager
      {% endif %}
      {% if user.is_developer %}
          Usted es un developer
      {% endif %}
      {% if user.is_client %}
          Usted es un client
      {% endif %}
  {% endif %}
  {% if not user.is_authenticated %}
    {% block content %}{% endblock content %}
  {% endif %}
  </div>

    <footer>
      <!-- Application footer -->
    </footer>

    <script src="{% static 'libs/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'libs/popper/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>